.loading {
    width: 100%;
    height: 100%;
    background: inherit;
    animation: brightenAnimation 1s ease-in-out infinite;
    margin: auto;
}

@keyframes brightenAnimation {
    0%, 100% {
      filter: brightness(0.7);
    }
    50% {
      filter: brightness(1.3);
    }
  }